{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    Venue
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ venue }}</h5>
    <p class="card-text">
            <ul>
                <li>{{ venue.address }}</li>
                <li>zip: {{ venue.zip_code }}</li>
                <li>PH: {{ venue.phone_num }}</li>
                <li>EM: {{ venue.email_address }}</li>
                <li>Web:<a href="{{ venue.web }}">{{ venue.web }}</a></li>
            </ul>
          </p>
    <a href="{% url 'list-venue' %}" class="btn btn-primary">Go back</a>
  </div>
</div><br>

{% endblock %}